*{padding:0;margin:0;}
.lfloat{float:left}
.rfloat{float:right}
#header{background:blue;}
#header div{display: inline;}
#leftCol{min-height:200px;display:block;width: 179px;word-wrap:break-word;}
#middle{height:210px;}